# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environments
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# Jupyter Notebook
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Dataset
# ==========================================================

dataset/

# ==========================================================
# Trained Models
# ==========================================================

models/

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.temp

# ==========================================================
# Operating System Files
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# PyCharm
# ==========================================================

.idea/

# ==========================================================
# Build Files
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# TensorBoard
# ==========================================================

logs/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Google Colab
# ==========================================================

*.ipynb

# ==========================================================
# Cache
# ==========================================================

.cache/

# ==========================================================
# Miscellaneous
# ==========================================================

*.h5
*.keras
*.tflite
*.onnx